* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.letter{
  font-size: 10.5rem;
  letter-spacing: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke: rgb(96, 96, 217);
  fill: transparent;
  animation: writing 1.5s linear forwards 0.1s , filling 1s linear forwards 1.8s;
  opacity: 0;
}
@keyframes writing {
  0% {
    stroke-dasharray: 0 100%;
  }
  100% {
    opacity: 1;
    stroke-dasharray: 100% 0;
  }
}
@keyframes filling {
  to{
    opacity: 1;
    fill: rgb(96, 96, 217);
  }
}
body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: background-color 0.5s ease, color 0.5s linear;
  overflow-x: hidden;
}

.light-theme{
  color: black;
  background-color: white;
}
.dark-theme{
  color: white;
  background-color: #0d1321;
}


.main-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.primary-heading {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.inner-text {
  font-size: 0.7rem;
  font-weight: 400;
}
.slogo{
  width: 16rem;
}

/*----------Navbar------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  position: fixed;
  top: -140px;
  z-index: 2;
  opacity: 0;
  transition : all 0.4s ease-in-out;
}
.moveDown{
  top: 0;
  opacity: 1;
  visibility: visible;
}
.moveTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  opacity: 0;
  display: block;
  transition : opacity 0.2s ease-in-out , visibility 0.2s ;
}
.moveTop:hover{
  background-color: #555;
}

.visible{
  opacity: 1;
  visibility: visible;
}

nav h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
  font-size: 3rem;
  color: #fff;
}

nav h3 span {
  color: rgb(155, 5, 255);
  font-weight: 600;
  font-size: 4rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: rgb(42, 27, 109);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.toggle-input{
  display: none;
}

.display{
  display: flex;
  justify-content: center;
  align-items: center;
}
label{
  width: 40px;
  height: 20px;
  border: 1px solid;
  border-radius: 50px;
  padding: 4px;
  box-shadow: 2px 2px 6px rgb(52, 48, 48) inset;
  cursor: pointer; 
  position: relative;
}
.circle{
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.6),
  -2px -2px 6px rgba(0,0,0,0.7) inset;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10%, -50%);
  transition: all 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input[type=checkbox]:checked + .display{
  background-color: #051923;
  border-radius: 50px;

}

input[type=checkbox]:checked + .display label .circle{
  left: 100%;
  transform: translate(-110%, -50%);
  background-color: #9b6cfa;
}

label:active .circle{
  width: 35px;
}

/* --------minibar----------- */
.minibar{
  display: none;
  height: 4.5rem;
  width: 100%;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  position: fixed;
  top: 0;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.minibar-row1{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 6px 20px;
}
.minibar h3{
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 2.4rem;
  color:white;
}
.minibar h3 span {
  color: rgb(155, 5, 255);
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 5px;
}


.toggle-btn{
  display: none;
  border: transparent;
  background-color: transparent;
  font-size: 2.3rem;
  text-align: center;
  width: 5rem;
  color: rgba(255,255,255, 0.9);
}

.minibar-row2 li {
  font-family: monospace;
  list-style: none;
  letter-spacing: 2px;
  margin: 0 23px;
  padding: 15px 0;
  background: transparent;
  font-size: 2rem;
}
hr{
  margin: 0 17px;
}
.minibar-row2 li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
}
.minibar-row2 li a:hover{
  color:#854fee;
}



.dropdown-nav{
  width: 25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  position: fixed;
  top: 4.5rem;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s linear;
  display: none;
}
.open{
  transform: translateX(0%);
}

.theme-div-mini{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  letter-spacing: 2px;
  margin-left: 23px;
  margin-right: 20px;
  padding: 15px 0;
  font-size: 2rem;
}
.theme-mode-h{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
}
/* --------home--------- */
#home{
  padding: 0 1.25rem;
  height: auto;
  margin-bottom: 5rem;
}
nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  top: 0;
  z-index: 2;
}
nav2 h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.313rem;
  font-size: 3rem;
  color: #fff;
}

nav2 h3 span {
  color: rgb(155, 5, 255);
  font-weight: 600;
  font-size: 4rem;
}

nav2 ul {
  display: flex;
  justify-content: center;
}

nav2 ul li {
  list-style: none;
  margin: 0 23px;
}

nav2 ul li a {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: #463f3a;
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

nav2 ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: rgb(42, 27, 109);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav2 ul li a:hover::after {
  width: 100%;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 3.125rem;
  gap: 5rem;
  box-sizing: border-box;
}

.home-logo img {
  height: 26.25rem;
  animation: moveleft 1s ease-in-out ;
}
@keyframes moveleft {
  from{
    transform: translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.home-text {
  text-transform: capitalize;
  margin: 0 0.625rem;
  font-size: 1.875rem;
}

.name {
  color: rgb(96, 96, 217);
  /* font-size: 5.625rem; */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.surname{
  color: rgb(96, 96, 217);
  font-size: 3.55rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.34rem;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

/* .marquee p {
  display: inline-block;
  padding-left: 100%; 
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

.home-btn{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.btn {
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0rem 0.625rem 1.87rem rgba(118, 85, 225, 0.3);
  border: 2px solid #6060d9;
  border-radius: 0.625rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-family: monospace;
  margin: 1.25rem 0.5rem;
  font-weight: 600;
  font-size: 1.325rem;
}
.cv-btn1 {
  width: 8.125rem;
  height: 3.438rem;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.8rem 1.3rem;
  overflow: hidden;
}

.hire-btn{
  height: 3.375rem;
  width: 100%;
  padding: 0.8rem 1.5rem;
  overflow: hidden;
}

.hire-h{
  transition: all 0.2s;
}

.hire-icon{
  margin-top: 0.75rem;
  opacity: 0;
  transition: all 0.2s;
}

.hire-btn:hover .hire-h{
  transform: translateY(-2.5rem);
  opacity: 0;
}
.hire-btn:hover .hire-icon{
  transform: translateY(-2.25rem);
  transition-duration: 0.2s;
  opacity: 1;
}

/*---------About-section--------*/
#about{
  /* padding: 50px 40px; */
}

.about-text{
  font-size: 1rem;
  font-weight: 400;
}
.banner{
  margin:  0 auto;
  padding: 60px 10px;
  height: 330px;
  width: 710px;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.banner-row1{
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
  color: whitesmoke;
}

.banner-row2 li{
  list-style: none;
  display: inline-block;
  color: white;

}
.banner-row2 li a{
  text-decoration: none;
  color:white;
  text-transform: capitalize;
}
.small-heading{
  display: none;

}
.about-row-one {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.dark-theme .about-row-one{
  background-color: #051923;
}



.col-1 {
  height: 600px;
  width: 600px;
}

.col-2 {
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.col-1 img {
  height: 600px;
  width: 100%;
}


.cv-btn2 {
  width: 200px;
  height: 60px;
  font-weight: 600;
  font-size: 18px;
  padding: 1rem;
  overflow: hidden;
}

.btn-text{
  transition: all 200ms;
}
.btn-icon{
  margin-top: 1.563rem;
  opacity: 0;
  transition: all 200ms;
}

.btn:hover .btn-text{
  transform: translateY(-2.5rem);
  opacity: 0;
}
.btn:hover .btn-icon{
  transform: translateY(-3rem);
  transition-duration: 200ms;
  opacity: 1;
}


.about-row-two {
  display: flex;
  justify-content: center;
  margin: 50px 30px;
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container-items {
  box-sizing: border-box;
  height: 200px;
  width: 300px;
  background-color: #4e44dccf;
  border: 2px solid rgb(133, 12, 254);
  border-radius: 12px;
  padding: 12px 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color:white;
}
.tab-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  text-align: justify;
}
.hide{
  display: none;
}
.show {
  max-height: 200px;
  opacity: 1;
}

/* ----------services--------- */
#services{
  padding: 80px 50px;
  background-color: blue;
}
.service-container{
  margin: 0 5%;
}
.service-row1 {
  text-align: center;
}
.service-title{
  margin-top: 100px;
  font-weight: 600;
}
.service-row1 p{
  margin: 40px 0;
  padding: 10px 10px;
}
.service-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px;
}
.service-row2 img{
  height: 100%;
  width: 100%;
}
.service-row2-col {
  box-sizing: border-box;
  text-transform: capitalize;
  text-align: center;
  width: 150px;
  padding: 12px 25px;
  height: auto;
  border-radius: 20px;
}
.service-row2-col:hover{
  box-sizing: border-box;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  transition: all 0.5s ease 0s;
}
.service-row2-col img{
  height: 70px;
  width:  70px;
}
.row3-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 100px;

}

.service-row3 {
  padding: 20px 20px;
}
.row3-col {
  text-align: center;
  padding: 40px 0px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.row3-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
  border-radius: 18px;

}

.row3-items img{
  height: 400px;
  width: 100%;
  border-radius: 12px;
  display: block;
  transition: transform 0.5s;

}

.layer{
  color: white;
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6), rgb(115, 0, 255));
  border-radius: 12px;
  position: absolute;
  left:0;
  bottom:0;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.7s;
}

.layer h2{
  font-weight: 500;
  margin-bottom: 20px;

}
.layer p{
  padding: 0 10px;
  margin-bottom: 20px;
}
.layer a{
  text-decoration: none;
  color: rgb(90, 34, 139);
  font-size: 18px;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
}
.layer i{
  font-size: 15px;
  margin-top: 20px;

}
.row3-col:hover img{
  transform: scale(1.03);
  border-radius: 20px;

}
.row3-col:hover .layer{
  height: 93%;
  
}
.about-btn{
  display: block;
  width: fit-content;
  margin: 50px auto;
  font-size: 15px;
  padding: 14px 50px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background-color: #4c38bbce;
  border: 1px solid violet;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  transition: background-color 0.5s;
}
.about-btn:hover{
  background-color: rgb(115, 0, 255);
}

/* --------projects--------- */
#project{
  padding: 20px 40px;
}
/* --------contact-------- */
#contact{
  padding: 80px 0px;
  background-color: green;
}
.contect-container{
  margin: 0 5%;
}
.contact-row {
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #4458dc;
  margin-right: 15px;
  font-size: 25px;
}

.social-links {
  margin-top: 30px;
  margin-left: 2px;
}

.social-links a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-links a:hover {
  color: #4458dc;
  transform: translateY(-5px);
}

.contact-right{
  flex-basis: 60%;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  box-sizing: border-box;
  border: 0;
  margin: 10px 0;
  width: 100%;
  outline: none;
  background: #262626;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}

.btn-submit {
  padding: 14px 60px;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
}

/* --------footer --------*/
footer{
  height: 60px;
  text-align: center;
  text-transform: capitalize;
  background: #262626;
  padding: 25px 0;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}
.main-btn{
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: 1px solid #4458dc;
  padding: 0px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.main-btn:hover{
  background-color: #4458dc;
}


/* --------------responsive navabar------------ */
@media only screen and (max-width: 1000px) {
  nav{
    display: none;
  }
  nav2{
    display: none;
  }
  .minibar{
    display: block;
    opacity: 1;
  }
  .toggle-btn{
    display: block;
  }
  .dropdown-nav{
    display: flex;
  }
  .banner{
    width: 100%;
  }

  .home-logo img {
    display: none;
  }
  .col-1{
    display: none;
  }
  .home-container{
    gap: 0;
  }
  .home-text{
    font-size: 2rem;
    margin-top: 8rem;
  }
  .name{
    font-size: 9.5rem;
    letter-spacing: 1.7rem;
    margin-bottom: -2rem;
  }
  .surname{
    font-size: 4rem;
    letter-spacing: 1.2rem;
  }
  .marquee{
    margin: 0 0.2rem;
  }
  .home-btn{
    margin-top: 5px;
    margin: 0  0;
  }
  .btn{
    padding: 15px 40px;
    font-size: 48px;
    margin: 40px 15px ;
  }
  .hire-btn{
    height: 65px;
    width: 230px;
    font-size: 25px;
  }
  
  .cv-btn1{
    height: 65px;
    width: 230px;
    font-size: 25px;
  }
  .cv-btn2{
    height: 70px;
    width: 240px;
    font-size: 25px;
  }

}
@media only screen and (max-width: 800px){
  .home-container{
    margin: 0 0;
    padding: 0 0;
  }
  .primary-heading{
    font-size: 30px;
  }
  .inner-text {
    font-size: 0.6rem;
    font-weight: 100;
  }
  .home-text{
    font-size: 30px;
  }
  .name{
    font-size: 7rem;
    letter-spacing: 1.4rem;
  }
  .surname{
    font-size: 3.8rem;
    letter-spacing: 0.7rem;
  }
  .marquee{
    margin: 0 2rem;
  }
  .btn{
    padding: 18px 26px;
    font-size: 25px;
  }
  .hire-btn{
    width: 10rem;
    min-width: 10rem;
    padding-top: 17px;
  }
  
  .cv-btn1{
    width: 10rem;
  }
  .btn-icon{
    margin-top: 1.2rem;
  }
  .cv-btn2{
    height: 70px;
    width: 240px;
    font-size: 25px;
  }
  
  #about{
    padding: 30px 0;
  }
}
@media only screen and (max-width: 600px){
  /*-------home---------*/
  #home{
    padding: 0 0;
  }
  .primary-heading {
    font-size: 1.563rem;
  }
  
  .inner-text {
    font-size: 0.75rem;
  }
  .col2-heading{
    display: none;
  }
  .home-container{
    gap: 0;
    margin: 0 0;
    padding: 0 2rem;
  }

  .home-text{
    font-size: 1.5rem;
  }
  .name{
    font-size: 5.5rem;
    letter-spacing: 0.938rem;
  }
  .surname{
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }
  .marquee{
    margin: 0 1.8rem;
  }
  .home-btn{
    margin: 0 0.83rem;
  }
  .hire-btn{
    width: 10rem;
    min-width: 9rem;
    font-size: 21px;
  }
  
  .cv-btn1{
    min-width: 9rem;
    font-size: 25px;
  }
  .cv-btn2{
    height: 70px;
    width: 240px;
    font-size: 25px;
  }
  
  .dropdown-nav{
    width: 100%;
  }
  
  /* --------about--------- */
  #about{
    padding: 140px 0px;
  }
  .small-heading{
    display: block;
    
  }
  .small-heading h2{
    text-align: start;
    font-size: 30px;
    text-transform: uppercase;
  }

  .col-2{
    margin: 0 40px;
    height: 500px;
  }
  /* -----service----- */
  #service{
    padding: 20px 0;
  }
  .service-title {
    margin-top: 30px;
    
}
  .row3-title{
    margin: 50px 0;
    font-size: 35px;
    padding: 0 0;
  }
  /* ---contact--- */
  .sub-title{
    font-size: 28px;
  }
 .contact-right{
  margin-top: 30px;
 }
 .container-items{
    width: 100%;
  }
  /* contact */
  #contact{
    padding: 20px 0;
  }
  label{
    box-shadow: none;
  }
  .circle{
    box-sizing: none;
  }
  label:active .circle{
    width: 22px;
  }
}
@media screen and (max-width: 480px) {
  .home-container{
    padding: 0 0.1rem;
  }

  .name{
    box-sizing: border-box;
    font-size: 5rem;
    letter-spacing: 0.938rem;
    margin-bottom: -1rem;
  }
  .surname{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .marquee{
    margin: 0 1rem;
  }
  #about{
    padding: 180px 0px;
  }
  #service{
    padding: 30px 0;
  }
  .primary-heading{
    font-size: 12px;
  }
  .inner-text {
    font-size: 0.4rem;
    font-weight: 300;
    margin-top: 3px;
  }
  .home-btn{
    margin: 0 0.83rem;
  }
  .hire-btn{
    width: 8rem;
    min-width: 7rem;
    padding-top: 23px;
    font-size: 16px;
    font-weight: 800;
  }
  .hire-icon{
    margin-top: 1rem;
  }
  .cv-btn1{
    width: 8rem;
    min-width: 7rem;
    padding-top: 25px;
    font-size: 15px;
    font-weight: 800;

  }
  .cv-btn2{
    height: 59px;
    width: 9rem;
    font-size: 12px;
    font-weight: 800;

  }
  label{
    box-shadow: none;
  }
  .circle{
    box-sizing: none;
  }
  label:active .circle{
    width: 22px;
  }
}


@media screen and (max-width: 380px){

  .home-container{
    width: 100%;
  }
  .home-text{
    font-size: 0.8rem;
  }
  .name{
    box-sizing: border-box;
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  .surname{
    font-size: 1.63rem;
    letter-spacing: 0.7rem;
  }
  .marquee{
    margin: 0 0.2rem;
  }
  .home-btn{
    margin: 0 0;
  }
  .btn {
    height: 42px;
    padding: 13px 2px;
    font-size: 12px;
    margin: 8px 4px;
    width: 100%;
  }
  .hire-btn{
    width: 5rem;
    min-width: 5rem;
    padding-top: 12px;
    font-size: 13px;
    font-weight: 800;
  }
  .hire-icon{
    margin-top: 1.34rem;
  }
  .btn-icon{
    margin-top: 2rem;
  }
  
  .cv-btn1{
    min-width: 5rem;
    padding-top: 12px;
    font-size: 13px;
    font-weight: 800;

  }
  .cv-btn2{       
    margin: 25px 22px;
    margin-bottom: 124px;
  }
    .primary-heading{
      font-size: 10px;
    }
    .inner-text {
      font-size: 0.4rem;
      font-weight: 300;
      margin-top: 3px;
    }
    .small-heading h2 {
      text-align: start;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
  }
}
