* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #046d96;   /* Buttons, Links */
  --secondary-color: rgb(56, 11, 86); /* Headings, Highlights */
  --background-color: #f3f5f4;
  --text-color: #1d1c1d;
  --section-bg: #f4f4f4; /* Card/Section background */
  --border-color: #7ac3c1;
  --card-title: rgba(68, 88, 220, 1);
  --card-bg: rgba(104, 119, 215, 0.5);
  --text-rgb: 29, 28, 29; 
}

/* 🌙 Dark Mode */
.dark-theme {
  --primary-color: #043a6c; /* Neon Cyan for better visibility */
  --secondary-color: #8634b7; /* Keep purple for contrast */
  --background-color: #1d1c1d; 
  --text-color: #d9d9d9;
  --section-bg: #292929;
  --border-color: #854fee ;
  --text-rgb: 245, 245, 245; 
}

html{
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
  min-width: 320px;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: background-color 0.5s ease, color 0.5s linear;
  overflow-x: hidden;
}
.light-theme{
  color: var(--text-color);
  background-color: var(--background-color);

}
.dark-theme{
  color: var(--text-color);
  background-color: var(--background-color);
}

.welcome-parent{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  box-sizing: border-box;
}
.welcome-child{
  font-size: x-large;
  font-family: monospace;
  color: white;
}
.welcome-child span{
  opacity: 0;
  transition: transform 0.5s;
}
.letter{
  font-size: 10.5rem;
  letter-spacing: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke: var(--border-color);
  fill: transparent;
  animation: writing 1s linear forwards 1.2s , filling 1.4s linear forwards 2.5s;
  opacity: 0;
}
@keyframes writing {
  0% {
    stroke-dasharray: 0 100%;
  }
  100% {
    opacity: 1;
    stroke-dasharray: 100% 0;
  }
}
@keyframes filling {
  to{
    opacity: 1;
    fill: rgb(96, 96, 217);
  }
}




.main-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 5px;
  letter-spacing: 1px;
  line-height: 1.2;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  display: inline-block;
  font-weight: 550;
}
.light-theme .main-heading{
  text-shadow: 2px 2px 5px rgba(255,255,255, 0.9);
}
.primary-heading {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.inner-text {
  font-size: 0.7rem;
  font-weight: 400;
}
.slogo{
  width: 16rem;
}

/*----------Navbar------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  width: 100%;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  position: fixed;
  top: -140px;
  z-index: 2;
  opacity: 0;
  transition : all 0.4s ease-in-out;
}
.moveDown{
  top: 0;
  opacity: 1;
  visibility: visible;
}
.moveTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  opacity: 0;
  display: block;
  transition : opacity 0.2s ease-in-out , visibility 0.2s ;
  z-index: 1000;
}
.moveTop:hover{
  box-shadow: 0px 0px 6px rgba(118, 85, 225, 0.7);
}

.visible{
  opacity: 1;
  visibility: visible;
}

nav h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
  font-size: 3rem;
  color: white;
}

nav h3 span {
  color: #854fee;
  font-weight: 600;
  font-size: 4rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background:rgb(56, 11, 86);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.toggle-input{
  display: none;
}

.display{
  display: flex;
  justify-content: center;
  align-items: center;
}
label{
  width: 40px;
  height: 20px;
  border: 1px solid;
  border-radius: 50px;
  padding: 4px;
  box-shadow: 2px 2px 6px rgb(52, 48, 48) inset;
  cursor: pointer; 
  position: relative;
}
.circle{
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.6),
  -2px -2px 6px rgba(0,0,0,0.7) inset;
  position: absolute;
  top: 50.8%;
  left: 0%;
  transform: translate(10%, -50%);
  transition: all 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input[type=checkbox]:checked + .display{
  background-color: #051923;
  border-radius: 50px;

}

input[type=checkbox]:checked + .display label .circle{
  left: 100%;
  transform: translate(-110%, -50%);
  background-color: #9b6cfa;
}

label:active .circle{
  width: 35px;
}

/* --------minibar----------- */
.minibar{
  display: none;
  height: 70px;
  width: 100%;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  position: fixed;
  top: 0;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.minibar-row1{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1px 20px;
}
.minibar h3{
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 2.4rem;
  color:white;
}
.minibar h3 span {
  color: rgb(155, 5, 255);
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 5px;
}


.toggle-btn{
  display: none;
  border: transparent;
  background-color: transparent;
  font-size: 2.3rem;
  text-align: center;
  width: 5rem;
  color: rgba(255,255,255, 0.9);
}

.minibar-row2 li {
  font-family: monospace;
  list-style: none;
  letter-spacing: 2px;
  margin: 0 23px;
  padding: 15px 0;
  background: transparent;
  font-size: 2rem;
}
hr{
  margin: 0 17px;
}
.minibar-row2 li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
}
.minibar-row2 li a:hover{
  color:#854fee;
}



.dropdown-nav{
  width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  position: fixed;
  top: 3.9rem;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s linear;
  display: none;
}
.open{
  transform: translateX(0%);
}

.theme-div-mini{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  letter-spacing: 2px;
  margin-left: 23px;
  margin-right: 20px;
  padding: 15px 0;
  font-size: 2rem;
}
.theme-mode-h{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: lighter;
  color: whitesmoke;
}
.circle-mini{
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 50.8%;
  left: 0%;
  transform: translate(10%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input[type=checkbox]:checked + .display{
  background-color: #051923;
  border-radius: 50px;

}

input[type=checkbox]:checked + .display label .circle-mini{
  left: 100%;
  transform: translate(-110%, -50%);
  background-color: #9b6cfa;
}
/* --------home--------- */
#home{
  padding: 0 1.25rem;
  height: auto;
  margin-bottom: 5rem;
  max-height: 800px;
}
nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  top: 0;
  z-index: 10;
}
nav2 h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.313rem;
  font-size: 3rem;
  color: #fff;
}

nav2 h3 span {
  color: rgb(155, 5, 255);
  font-weight: 600;
  font-size: 4rem;
}

nav2 ul {
  display: flex;
  justify-content: center;
}

nav2 ul li {
  list-style: none;
  margin: 0 23px;
}

nav2 ul li a {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: #463f3a;
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

nav2 ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: rgb(42, 27, 109);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav2 ul li a:hover::after {
  width: 100%;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 3.125rem;
  gap: 5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.home-logo img {
  height: 26.25rem;
}

.home-text {
  text-transform: capitalize;
  margin: 0 0.625rem;
  font-size: 1.875rem;
}

.name {
  color: rgb(96, 96, 217);
  /* font-size: 5.625rem; */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.surname{
  color: rgb(96, 96, 217);
  font-size: 2.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.34rem;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.home-btn{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.btn {
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  /* background: var(--primary-color); */
  box-shadow: 0rem 0.625rem 1.87rem rgba(118, 85, 225, 0.3);
  border: 2px solid var(--border-color);
  border-radius: 0.625rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-family: monospace;
  margin: 1.25rem 0.5rem;
  font-weight: 600;
  font-size: 1.325rem;
}
.cv-btn1 {
  width: 8.125rem;
  height: 3.438rem;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.8rem 1.3rem;
  overflow: hidden;
}

.hire-btn{
  height: 3.375rem;
  width: 100%;
  padding: 0.8rem 1.5rem;
  overflow: hidden;
}

.hire-h{
  transition: all 0.2s;
}

.hire-icon{
  margin-top: 0.75rem;
  opacity: 0;
  transition: all 0.2s;
}

.hire-btn:hover .hire-h{
  transform: translateY(-2.5rem);
  opacity: 0;
}
.hire-btn:hover .hire-icon{
  transform: translateY(-2.25rem);
  transition-duration: 0.2s;
  opacity: 1;
}
.btn-text{
  transition: all 200ms;
}
.btn-icon{
  margin-top: 1.563rem;
  opacity: 0;
  transition: all 200ms;
}

.btn:hover .btn-text{
  transform: translateY(-2.5rem);
  opacity: 0;
}
.btn:hover .btn-icon{
  transform: translateY(-3rem);
  transition-duration: 200ms;
  opacity: 1;
}

/*---------About-section--------*/
#about{
  padding: 80px 40px;
  background-color: var(--background-color);
}

.about-text{
  font-size: 1.3rem;
  font-weight: 200;
}
.about-text p{
  width: auto;
  max-width: 70ch;
  line-height: 1.7;
  letter-spacing: 1px;
}

.about-row-one {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.col-1 {
  height: 600px;
  width: 500px;
}

.col-2 {
  height: 650px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
}

.col-1 img {
  height: 600px;
  width: 100%;
}


.cv-btn2 {
  width: 200px;
  height: 60px;
  font-weight: 600;
  font-size: 18px;
  padding: 1rem;
  overflow: hidden;
}

.download-link{
  text-decoration: none;
  color: inherit;
}
.dark .download-link{
  color: white
}
.hover-parent{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-family: monospace;
  margin: 2rem 0;
}
.hover-clr{
  height: 2em;
  width: 2em;
  border-radius: 1.5em;
  background-color: #4458dc;
  position: absolute;
  left: -0.8em;
  top: -1;
}

.hover-text, .hover-icon{
  position: relative;
}

.about-row-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-inline: 20px;
  margin-top: 5rem;
  text-align: center;
  height: auto;
  transition: all 0.8s ease;
}

.container-items {
  box-sizing: border-box;
  /* height: 3.2rem; */
  width: 100%;
  border: 1px solid var(--border-color) ;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: height 0.5s ease;
  position: relative;
  overflow: hidden;
  color: white;
  box-shadow: #043a6c;
  background: var(--card-title);
  
}

.each-tabs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 98%;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--card-title);
}
.tab-title  , .tab-icon{
  position: relative;
}
.plus-label{
  border: none;
  box-shadow: none;
  padding: 0;
}
.add{
  transition: transform 0.5s ease;
  margin-right: 6px;
}

.tab-content{
  font-size: 1rem;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  text-align: justify;
  overflow: hidden;
  margin-top: 3.1rem;
  padding-inline: 1rem;
  position: relative;
  transition: opacity 0.8s ease, visibility 0.7s ease, transform 0.5s ease, max-height 0.5s ease, padding 0.4s ease ;
  line-height: 1.7;
  letter-spacing: 1px;
  font-weight: 250;
  background-color: var(--card-bg);

}

.tab-content a{
  text-decoration: none;
  color: white;
}

.tab-content p {
  padding-block: 15px;
}

.tab-content a:hover{
  color: violet;
}

.plus:checked + label .add{
  transform: rotate(-45deg);
  color: var(--text-color);
}

.container-items:has(.plus:checked) {
  height: max-content;
  max-height: fit-content;
}
.container-items:has(.plus:checked) .tab-content{
  opacity: 1;
  visibility: visible;
  max-height: 50rem;
  transform: translateY(10px);
  padding-bottom: 10px;
} 

/* ----------services--------- */
#skills{
  padding: 80px 10px;
}
.service-container{
  margin: 0 5%;
}
.service-row1 {
  text-align: center;
}
.service-title{
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 600;
}
.service-row1 p{
  margin: 40px 0;
  padding: 10px 10px;
}
.service-row3{
  padding: 40px 0;
}
.service-row2{
  width: 100%;
  max-width: 100vw; 
  overflow: hidden; 
  position: relative;
}
.slider{
  width: 90vw;
  max-width: 100vw;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 20% 90%,
    transparent
  );
}
.slider .list{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider, .list {
  max-width: 100vw;
  box-sizing: border-box;
}
.slider .list .skill{
  width: var(--width);
  height: auto;
  padding: 10px 2px;
  position: absolute;
  left: 100%;
  animation: autoRun var(--t) linear infinite;
  transition: all 0.5s;
  animation-delay: calc( (var(--t) / var(--quantity)) * (var(--position) - 1) - var(--t))!important;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.slider .list .skill img{
  width: 30%;
  height: 50px;
  width: 50px;
}

.slider .list .skill p{
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.slider .list .skill:hover{
  scale: 0.9;
  cursor:default;
}
@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}

.row3-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 100px;

}
/* --------projects--------- */
#project{
  padding: 20px 10px;
}

.row3-col {
  text-align: center;
  padding: 40px 0px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.row3-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
  border-radius: 18px;

}

.row3-items img{
  height: 400px;
  width: 100%;
  border-radius: 12px;
  display: block;
  transition: transform 0.5s;

}

.layer{
  color: white;
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(1,1,1, 0.6), rgb(115, 0, 255));
  border-radius: 12px;
  position: absolute;
  left:0;
  bottom:0;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.7s;
}

.layer h2{
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;

}
.layer p{
  padding: 0 10px;
  margin-bottom: 20px;
}
.layer a{
  text-decoration: none;
  color: rgb(90, 34, 139);
  font-size: 18px;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  transition: border-radius 0.2s ease-in;
}
.layer a:hover{
  border-radius: 20%;
}
.layer i{
  font-size: 15px;
  margin-top: 20px;

}
.row3-col:hover img{
  transform: scale(1.03);
  border-radius: 20px;

}
.row3-col:hover .layer{
  height: 93%;
  
}
.about-btn{
  display: block;
  width: fit-content;
  margin: 50px auto;
  font-size: 15px;
  padding: 14px 50px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background-color: #4c38bbce;
  border: 1px solid violet;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  transition: all 0.5s;
}
.about-btn:hover{
  background-color: rgb(115, 0, 255);
}
.about-btn:active{
  scale: 0.95;
}

#more{
  color: white;
}
#show-more-checkbox{
  display: none;
}
.project-popup-container{
  display: none;
  position: fixed;
  z-index: 10;
  top: 5rem;
  left: 2em;
  opacity: 0;
  height: auto;
  width: 90%;
  max-width: 1200px;
  background: rgb(28, 57, 100);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 2s;
}
#show-more-checkbox:checked ~ .project-popup-container{
  display: block;
  opacity:90%;
}
.popup-tab{
  position: relative;
}
.popup-cross{
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
}
.popup-cross:hover{
  scale: 0.9;
}
.popup-title{
  font-size: large;
  font-weight: 500;
  margin: 5px;
}
.popup-project{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin: 8px;
}
.project{
  border-bottom: 1px solid black;
  /* height: 2.5rem; */
  padding-inline: 5px;
  padding-block: 1px;
  border-radius: 2px;
  position: relative;
  margin: 2px ;

}
.project:hover{
  border-bottom: 1px solid gray;
}
.project-heading{
  padding-top: 5px;
  font-size: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.project-heading div{
  font-size: 15px;
}
.project:hover  .hover-overlay{
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}
.hover-overlay{
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 4px;


  position: absolute;
  bottom: 10px;
  right: 2%;
  transform: translateX(-50%);
  
  padding: 10px 14px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  border: 1px solid rgba(255,255,255,0.2);

  /* transform: translateY(-10px) scale(0.95); */
  transition: all 0.25s ease;
  animation: float 4s ease-in-out infinite;
}
.overlay-image  img{
  height: 10rem;
  width: 15rem;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0,0,0,0.35);
  transition: transform 0.3s ease , box-shadow 0.3s ease ;
}
.project:hover .overlay-image img {
  transform: scale(1.03);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
}
.overlay-text{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;

  color: wheat;
  padding: 5px 0px; 

  width: 100;
  transition : trnasform 0.3s ease , opacity 0.3s ease
}

.overlay-text-link{
  width: 50%;
  text-align: center;
  padding: 5px 0px;
  background: rgba(255, 255, 255, 0.12);

}
.overlay-text  a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;

  border-radius: 4px;
  transition: 0.25s ease;
}

.overlay-text a:hover{
  color: gold;
  background: rgba(255, 255, 255, 0.22);
  transform: translateY(-2px);
}


/* --------contact-------- */
#contact{
  padding: 80px 0px;
}
.contect-container{
  margin: 0 5%;
}
.contact-row {
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
  gap: 2rem;
}

.contact-left {
  flex-basis: 40%;
}
.sub-title{
  font-size: 3.5rem;
}
.contact-left p {
  margin-top: 22px;
  font-size: 0.8rem;
}

.contact-left p i {
  color: var(--primary-color);
  margin-right: 15px;
  font-size: 25px;
}

.social-links {
  margin-top: 30px;
  margin-left: 2px;
}

.social-links a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-links a:hover {
  color: var(--primary-color);
  transform: translateY(-5px);
}

.contact-right{
  flex-basis: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  box-sizing: border-box;
  border: 0;
  margin: 10px 0;
  width: 100%;
  outline: none;
  background: #262626;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}
form textarea{
  resize: none;
}

.btn-submit {
  padding: 14px 60px;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
  }
.btn-submit i {
  margin-left: 8px;
  display: inline-block;
}

@keyframes planeFly {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  40% {
    transform: translate(20px, -40px) rotate(-20deg);
    opacity: 0.7;
  }
  70% {
    transform: translate(-10px, -20px) rotate(10deg);
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
}

@keyframes float {
  0% { transform: translateY(-10px) scale(0.95); }
  50% { transform: translateY(-14px) scale(0.97);}
  100% { transform: translateY(-10px) scale(0.95); }
}

.fly {
  animation: planeFly 1s ease-in-out;
}


.btn-submit:active i {
  transform: translateY(-30px) translateX(20px) rotate(-20deg);
  opacity: 0; /* fade out while flying */
}
/* --------footer --------*/
footer{
  height: 60px;
  text-align: center;
  text-transform: capitalize;
  background: #262626;
  padding: 25px 0;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}

/* --------------responsive navabar------------ */
@media only screen and (max-width: 1000px) {
  nav{
    display: none;
  }
  nav2{
    display: none;
  }
  .minibar{
    display: block;
    opacity: 1;
  }
  .toggle-btn{
    display: block;
  }
  .dropdown-nav{
    display: flex;
  }
  .banner{
    width: 100%;
  }

  .home-logo img {
    display: none;
  }
  .col-1{
    display: none;
  }
  #home{
    margin-bottom: 0;
  }
  .home-container{
    gap: 0;
    height: 45rem;
    align-items: center;
  }
  .home-text{
    font-size: 2rem;
    /* margin-top: 8rem; */
  }
  .name{
    font-size: 9.5rem;
    letter-spacing: 1.7rem;
    margin-bottom: -2rem;
  }
  .surname{
    font-size: 4rem;
    letter-spacing: 1.2rem;
  }
  .marquee{
    margin: 0 0.2rem;
  }
  .home-btn{
    margin-top: 5px;
    margin: 0  0;
  }
  .btn{
    padding: 15px 40px;
    font-size: 2.5rem;
    margin: 40px 15px ;
  }
  .hire-btn{
    height: 65px;
    width: 230px;
    font-size: 25px;
  }
  
  .cv-btn1{
    height: 65px;
    width: 230px;
    font-size: 25px;
  }
  .cv-btn2{
    height: 70px;
    width: 240px;
    font-size: 25px;
  }
  .hover-parent{
    font-size: 1.563rem;
  }
  .col-2{
    align-items: center;
    padding-inline: 1.5rem;
  }
  .about-text{
    text-align: justify;
  }
  #contact{
    padding: 0 0;
  }
}
@media only screen and (max-width: 800px){
  .home-container{
    margin: 0 0;
    padding: 0 0;
  }
  .primary-heading{
    font-size: 22px;
  }
  .inner-text {
    font-size: 1.2rem;
    font-weight: 250;
  }
  .home-text{
    font-size: 30px;
  }
  .name{
    font-size: 7rem;
    letter-spacing: 1.4rem;
  }
  .surname{
    font-size: 3.8rem;
    letter-spacing: 0.7rem;
  }
  .marquee{
    margin: 0 2rem;
  }
  .btn{
    padding: 18px 26px;
    font-size: 25px;
  }
  .hire-btn{
    width: 10rem;
    min-width: 10rem;
    padding-top: 17px;
  }
  
  .cv-btn1{
    width: 10rem;
  }
  .btn-icon{
    margin-top: 1.2rem;
  }
  .cv-btn2{
    height: 70px;
    width: 240px;
    font-size: 25px;
  }

  
  #about{
    padding: 30px 0;
  }
  .about-text{
    font-size: 1.1rem;
  }
  .sub-title{
    font-size: 3rem;
  }

  .project-popup-container{
    width: 85%;
  }

  #contact{
    padding: 0 0;
  }
 
}
@media only screen and (max-width: 700px) {
   .contact-row{
    flex-direction: column;
  }
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .contact-left{
    margin: auto;
  }
  .contact-right{
    margin-inline: 4rem;
  }
  .sub-title{
    font-size: 4rem;
  }
}
@media only screen and (max-width: 600px){
  /*-------home---------*/
  #home{
    padding: 0 0;
  }
  .primary-heading {
    font-size: 20px;
  }
  
  .inner-text {
    font-size: 1rem;
  }

  .home-container{
    gap: 0;
    margin: 0 0;
    padding: 0 2rem;
  }

  .home-text{
    font-size: 1.5rem;
  }
  .name{
    font-size: 5.5rem;
    letter-spacing: 0.938rem;
  }
  .surname{
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }
  .marquee{
    margin: 0 1.8rem;
  }
  .home-btn{
    margin: 0 0.83rem;
  }
  .hire-btn{
    width: 10rem;
    min-width: 9rem;
    font-size: 21px;
  }
  
  .cv-btn1{
    min-width: 9rem;
    font-size: 25px;
  }
  .cv-btn2{
    height: 70px;
    width: 240px;
    font-size: 25px;
  }
  
  .dropdown-nav{
    width: 100%;
  }
  
  /* --------about--------- */
  #about{
    padding: 0px 0px;
  }
  .about-text{
    font-size: 1rem;
  }
  .small-heading h2{
    text-align: start;
    font-size: 30px;
    text-transform: uppercase;
  }

  .col-2{
    padding: 50px 40px;
    height: 500px;
  }
  .col-2 .main-heading{
    padding-top: 45px;
    font-size : 2.5rem;
  }
  .each-tabs{
    left: 0;
    padding: 0;
    padding-left: 6px;
  }
  /* -----service----- */
  #service{
    padding: 20px 0;
  }
  .service-title {
    margin-top: 30px;
    
}
  .row3-title{
    margin: 50px 0;
    font-size: 35px;
    padding: 0 0;
  }

  .project-popup-container{
    width: 78%;
  }
  .project-heading{
    font-size: 18px;
  }
  .project-heading div{
    font-size: 13px;
  }
  /* ---contact--- */

 .contact-right{
  margin-top: 30px;
 }
 .container-items{
    width: 100%;
  }
  /* contact */
  
  .contact-right{
    margin-inline: 0;
  }
  .sub-title{
    font-size: 3.5rem;
  }
  label{
    box-shadow: none;
  }
  .circle{
    box-sizing: none;
  }
  label:active .circle{
    width: 22px;
  }

}
@media screen and (max-width: 480px) {
  #home{
    height: 35rem;
    padding-top: 3rem;
  }
  .home-container{
    height: 100%;
    padding: 0 0.1rem;
  }
  .home-text{
    margin-top: 6rem;
  }

  .name{
    box-sizing: border-box;
    font-size: 5rem;
    letter-spacing: 0.938rem;
    margin-bottom: -1rem;
  }
  .surname{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .marquee{
    margin: 0 1rem;
  }
  #about{
    padding: 9rem 0px;
  }
  .about-text p {
    letter-spacing: 0;
    font-size: 1.2rem;
}
  .col-2 {
    height: 400px;
    padding: 140px 30px;
}
  #service{
    padding: 30px 0;
  }
  .primary-heading{
    font-size: 18px;
  }
  .inner-text {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.4;
    padding-inline: 18px;
    margin-top: 2.5rem;
  }
  .home-btn{
    margin: 0 0.83rem;
  }
  .hire-btn{
    width: 8rem;
    min-width: 7rem;
    padding-top: 23px;
    font-size: 16px;
    font-weight: 800;
  }
  .hire-icon{
    margin-top: 1rem;
  }
  .cv-btn1{
    width: 8rem;
    min-width: 7rem;
    padding-top: 25px;
    font-size: 15px;
    font-weight: 800;

  }
  .cv-btn2{
    height: 59px;
    width: 9rem;
    font-size: 12px;
    font-weight: 800;
  }
  .hover-parent{
    font-size: 1.2rem;
  }
  label{
    box-shadow: none;
  }
  .circle{
    box-sizing: none;
  }
  label:active .circle{
    width: 22px;
  }
  .about-row-two{
    gap: 1.4rem;
    margin-top: 90px;
    margin-inline: 27px;
  }
  .tab-content{
    margin-top: 3.5rem;
  }

  .project-heading{
    padding-top: 5px;
    font-size: 15px;
    flex-direction: column;
  }
  .project-heading div{
    font-size: 10px;
  }
}


@media screen and (max-width: 380px){

  .main-heading{
    font-size: 2.5rem;
  }

  .home-container{
    width: 100%;
    height: 28rem;
  }
  .home-text{
    font-size: 0.8rem;
    line-height: 2.5rem;
  }
  .name{
    box-sizing: border-box;
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  .surname{
    font-size: 1.63rem;
    letter-spacing: 0.7rem;
  }
  .marquee{
    margin: 0 0.2rem;
  }
  .home-btn{
    margin: 0 0;
  }
  .btn {
    height: 42px;
    padding: 13px 2px;
    font-size: 12px;
    margin: 8px 4px;
    width: 100%;
  }
  .hire-btn{
    width: 5rem;
    min-width: 5rem;
    padding-top: 12px;
    font-size: 13px;
    font-weight: 800;
  }
  .hire-icon{
    margin-top: 1.34rem;
  }
  .btn-icon{
    margin-top: 2rem;
  }
  
  .cv-btn1{
    min-width: 5rem;
    padding-top: 12px;
    font-size: 13px;
    font-weight: 800;

  }
  .cv-btn2{       
    margin: 25px 22px;
    margin-bottom: 124px;
  }
    .primary-heading{
      font-size: 15px;
    }
    .inner-text {
      font-size: 0.8rem;
    }
    .small-heading h2 {
      text-align: start;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
  }
  .about-row-two{
    margin-top: 10rem;
  }
  .sub-title{
    font-size: 2.9rem;
  }
  .contact-left p{
    font-size: 0.7rem;
  }

  
  .project-popup-container{
    width: 70%;
  }
}
